        <div class="slider">
                <ul >
                    <li>
                        <img style="width: auto; height: 300px; width:450px;" src="/img/anillo.webp" alt="">
                    </li>
                    <li>
                        <img style="width: auto; height: 300px; width:450px;" src="/img/esclava.webp" alt="">
                    </li>
                    <li>
                        <img style="width: auto; height: 300px; width:450px;" src="/img/muestra.jfif" alt="">
                    </li>
                    <li>
                        <img style="width: auto; height: 300px; width:450px;" src="/img/rolex.webp" alt="">
                    </li>
                </ul>
        </div>
