<div id="navbar">
    <img src="/img/logo.png" alt="" id="logoNavBar" onclick="location.replace('/')" style="cursor: pointer;">
    <div id="navOptsDiv">
        <a class="navOpt" href="/productos/anillos">Anillos</a>
        <a class="navOpt" href="/productos/aretes">Aretes</a>
        <a class="navOpt" href="/productos/esclavas">Esclavas</a>
        <a class="navOpt" href="/productos/relojes">Relojes</a>
    </div>
    <div id="navLoginDiv">
        <form id="carritoForm" action="/carrito" method="post">
            <input type="text" id="carritoInput" name="carrito" >
        </form>
        <a class="navOpt" id="carrito" href="#" onclick="document.querySelector('#carritoForm').submit()">
            <img src="/img/cart.png" alt="Carrito">
            <span id="carritoCount"></span>
        </a>
        <% if (logged == true) { %>
            <a href="/logout" class="navOpt">Cerrar Sesión</a>
        <% } else {%>
            <a class="navOpt" id="registro" href="/login/register">Registro</a>
            <a class="navOpt" id="login" href="/login">Login</a>
        <% } %>
    </div>
    <script>
        const countCarrito = document.querySelector('#carritoCount');
        const carritoInput = document.querySelector('#carritoInput');
        const updateCarritoCount = () => {
            let carrito = JSON.parse(sessionStorage.getItem('carrito'));
            countCarrito.innerText = carrito.length;
            carritoInput.value = sessionStorage.getItem('carrito');
        }
        window.addEventListener('load',(e) => {
            try {
                updateCarritoCount();
            } catch (error) {
                
            }
        })
    </script>
</div>