<%- include('./partials/head.ejs') %> 
<body>
    <div id="contMain">
        <div id="boxOlvidarErr">
            <h1 id="tituloOlvidarErr">Introduce el código que hemos enviado a tu email</h1>
            <img src="/img/gmail.png" id="imgOlvidarPassErr">
            <form action="/verificate" method="post" id="formOlvidarErr">
                <input type="text" placeholder="Introduce el código de verificación" name="codigoVerificate" id="inputOlvidarErr" required maxlength="6">
                <div id="errBox">
                    El codigo que introduciste es incorrecto
                </div>
                <button type="submit" id="botonOlvidarErr">Siguiente</button>
            </form>
            
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>