<%- include('./partials/head.ejs') %>
<body>
    <script src="/js/insertErrorCss.js"></script>
    <div id="contMain">
        <h1 id="errorTitle">Ha ocurrido un error o estamos en matenimiento</h1>
        <h3 id="errorSubtitle">Inténtelo mas tarde</h3>
        <br>
        <img src="/img/errorLogo.png" id="errorLogo">
    </div>
</body>
<%- include('./partials/footer.ejs') %>