*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#contMain{
    display: grid;
    grid-template-columns: calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8);

}

#carrusel{
    grid-column: 1/9;
}

#navbar{
    margin-bottom: 0%;
}