*{
    background-color: #f8f7f4;
}

.error{
    display: grid;
    text-align: center;
    margin-top: 15%;
}

img{
    width: 100px;
}

p{
    font-size:xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}